@model IEnumerable<MIS4200Project.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apoointmentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patietntD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apoointmentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patietntD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentID })
        </td>
    </tr>
}

</table>
