@model MIS4200Project.Models.orderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>orderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtyOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtyOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderdetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
