@model IEnumerable<MIS4200Project.Models.orderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtyOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtyOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderdetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderdetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderdetailID })
        </td>
    </tr>
}

</table>
